

.computer {

    padding-top: 1rem;
    border-bottom: 1px solid #999;
    background: url(../../../assets/images/computer.png) top left no-repeat;
    padding-left: 6rem;


    &__status {

        &__online::before {
            content: "";
            display: inline-block;
            width: 32px; 
            height: 16px;
            background:  url("../../../assets/images/online.png") top left no-repeat;
            background-size: 16px 16px;
        }
    
        &__offline::before {
            content: "";
            display: inline-block;
            width: 32px; 
            height: 16px;
            background:  url("../../../assets/images/offline.png") top left no-repeat;
            background-size: 16px 16px;
        }

        &__busy::before {
            content: "";
            display: inline-block;
            width: 32px; 
            height: 16px;
            background:  url("../../../assets/images/busy.png") top left no-repeat;
            background-size: 16px 16px;
        }

    }
    
    

}